# dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# environment variables
.env
backend/.env
frontend/.env

# logs
logs
*.log
npm-debug.log*

# build files
dist/
build/
frontend/dist/

# OS files
.DS_Store
Thumbs.db

# editor files
.vscode/
.idea/